@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';

#root{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}